@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 210 20% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 215 20% 65%;
    --accent: 258 91% 73%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 210 20% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 215 20% 65%;
    --accent: 258 91% 73%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background: linear-gradient(330deg, hsl(230, 60%, 10%) 0%, hsl(225, 67%, 32%) 50%, hsl(0, 70%, 40%) 100%);
  }
}

@layer utilities {
  .cursor-blink {
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    from,
    to {
      background-color: transparent;
    }
    50% {
      background-color: hsl(var(--foreground));
    }
  }
}
